
.product-locator-login-container {
  margin: 50px auto auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.product-locator-login-page {
  display: flex;
  min-height: 100vh;
}

.product-locator-login-submit {
  margin-left: 40%;
  cursor: pointer;
}

.log-in-error-text {
  color: red;
}