.store-layout-page {
    width: 100%;
    min-height: 100vh;
    background: white;
    color: grey;
    background-color: lavenderblush;
    // display: flex;
}

.store-layout-page-container {
    display: flex;
}

.product-search-bar {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 40px;
    width: 60%;
}

.product-search-bar .react-autosuggest__container {
    width: 100%;
}

.product-search-bar .react-autosuggest__input {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    line-height: 32px;
    font-size: 24px;
}

.store-layout-page-main-map {
    border: 1px solid lightgrey;
    display: flex;
    width: 95%;
    margin: auto;
    max-height: 65vh;
    overflow: scroll;
    background-color: white;
}

.store-layout-page-main-map-svg {
    height:100%;
    width:100%;
    overflow: scroll;
}


ul {
    list-style-type: none;
    padding: 0;
}

.shopping-lists-title {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.shopping-lists-list-item {
    width: fit-content;
    margin-left: 30px;
    padding: 3px;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
        background-color: rgb(228,228,228);
    }
}

.shopping-lists-list-item.selected {
    background-color: rgb(239, 239, 239);
    &:hover {
        cursor: pointer;
        background-color: rgb(228,228,228);
    }
}

.shopping-lists-create-new {
    margin-left: 30px;
    margin-top: 20px;
}

.pallura:hover {
    cursor: pointer;
}


.react-autosuggest__suggestions-list {
    margin: 0;
    line-height: 32px;
    list-style-type: none;
    position: absolute;
    width: 60%;
    background: white;
    cursor: pointer;
}

.product-search-suggestion {
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid grey;
    width: 100%;
    z-index: -1;
}

.product-search-suggestion-name {
    display: inline-block;
}

.product-search-suggestion-add-to-cart {
    display: inline-block;
    float: right;
}

.store-layout-page-footer {
    width: 95%;
    margin: auto;
    display: inline-flex;
}

.shopping-lists {
    display: inline-block;
    border-radius: 5px;
    width: 49%;
    border: 1px solid lightgrey;
    padding: 5px;
    padding-right: 0;
    overflow-y: scroll;
    background-color: #fff;
    margin: 5px;
}

.located-product-info {
    display: inline-block;
    border-radius: 5px;
    width: 49%;
    border: 1px solid lightgrey;
    padding: 5px;
    padding-right: 0;
    overflow-y: scroll;
    background-color: #fff;
    margin: 5px;
}

.login-prompt {
    padding: 6px;
    font-size: 14px;
    margin: 20px 25%;
    width: 50%;
    cursor: pointer;
}