@import url('https://fonts.googleapis.com/css?family=Mali');

.landing-page-header-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.landing-page-title {
  display: flex;
  width: 90%;
  height: 50px;
  padding-top: 10px;
}

.landing-page-header-container h2 {
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Mali';
}

.landing-page-header-container .landing-page-login {
  margin: auto;
  width: 80px;
  border: 1px solid black;
  border-radius: 40px;
  background: lightblue;
  height: 80px;
  cursor: pointer;
  display: flex;
}

.landing-page-header-container .landing-page-login p {
  margin: auto;
}

.landing-page-filters {
  width: 100%;
  display: inline-flex;
}



.landing-page-filter-names {
  display: flex;
  width: 24%;
  border: 1px solid black;
  cursor: pointer;

}

.landing-page-filter-names p {
  margin: auto;
}

.landing-page-store-list-container {
  width: 100%;
  min-height: 300px;
  border: 1px solid black;
  max-height: 500px;
  overflow-y: scroll;
}

.landing-page-filter-titles {
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  height: 20px;
  border: 1px solid black;
  border-bottom: 0;
}

.landing-page-title-store-name {
  display: inline-block;
  width: 80%;
  margin: 0;
  padding-left: 1%;
  border-right: 1px solid grey;
}

.landing-page-title-distance {
  display: inline-block;
  width: 17%;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.landing-page-user-info {
  float: right;
}