.landing-page__storeSearch-list-item {
  display: inline-block;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.landing-page__storeSearch-list-item:nth-child(odd) {
  background: lightgrey;
}

.landing-page__storeSearch-list-item:hover {
  background: yellow;
}

.landing-page__storeSearch-list-item-title {
  display: inline-block;
  width: 90%;
  margin: 0;
  padding-left: 1%;
  border-right: 1px solid grey;
}

.landing-page__storeSearch-list-item-distance {
  display: inline-block;
  width: 8%;
  margin: 0;
}