.shopping-page-list-item {
  display: inline-block;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.shopping-page-list-item:nth-child(odd) {
  background: lightgrey;
}

.shopping-page-list-item:hover {
  background: yellow;
}

.shopping-page-list-item-title {
  display: inline-block;
  width: 80%;
  margin: 0;
  padding-left: 1%;
  border-right: 1px solid grey;
}

.shopping-page-list-item-price {
  display: inline-block;
  width: 17%;
  margin: 0;
  text-align: center;
}

.shopping-page-list-item-remove-container {
  position: relative;
}

.shopping-page-list-item-remove {
  position: absolute;
  right: -20px;
  bottom: -16px;
  color: red;
  
}
