.shopping-page-list-item {
  display: flex;
  margin: 10px auto;
  background-color: white;
  width: 90%;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.shopping-page-list-item:hover {
  background: rgb(229,229,229);
}

.shopping-page-list-item-title {
  width: 65%;
  height: fit-content;
  align-self: center;
  margin: 0;
  padding-left: 1%;
  border-right: 1px solid grey;
}

.shopping-page-list-item-price {
  width: 20%;
  margin: 0;
  align-self: center;
  text-align: center;
}

.shopping-page-list-item-remove-container {
  position: relative;
}

.shopping-page-list-item-remove {
  position: absolute;
  right: -20px;
  bottom: -16px;
  color: red;
  
}
